<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/nav') %>
    <div class="jumbotron container">
        <div class="card mt-5">
            <div class="card-header">
                <h1>Welcome to Course-App</h1>
                <p>Managing your studies better</p>
            </div>
        </div>
    </div>
</body>
</html>